---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

import sortBy from '@lib/byDate';
import readTime from '@lib/readTime';

import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('./blog/*.{md,mdx}'))
	.sort(sortBy)
	.map(p => ({ 
		post: p,
		readTime: readTime(p)
	 }));
---

<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			ul {
				list-style-type: none;
				padding: unset;
			}
			ul li {
				display: flex;
			}
			ul li time {
				flex: 0 0 130px;
				font-style: italic;
				color: #888;
			}
			ul li a:visited {
				color: #8e32dc;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<content>
				<ul>
					{posts.map(({ post, readTime }) => (
						<li>
							<time datetime={post.frontmatter.pubDate}>
								{new Date(post.frontmatter.pubDate).toLocaleDateString('en-us', {
									year: 'numeric',
									month: 'short',
									day: 'numeric',
								})}
							</time> 
							<a href={post.url}>{post.frontmatter.title}</a>
							<div class="time-to-read">
								<time>{readTime.text}</time>
							</div>
						</li>
					))}
				</ul>
			</content>
			<Footer />
		</main>
	</body>
</html>
<style>
	.time-to-read {
		display: flex;
		justify-content: flex-end; 
		flex-grow: 1;
	}

	@media only screen and (max-width: 600px) {
		.time-to-read {
			display: none;
		}
	}
</style>
